@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

:root{
    --cor5:#05668d;
    --cor1: #028090;
    --cor2: #00a896;
    --cor3: #02c39a;
    --cor4: #f0f3bd;
}


body{
    font-family: "Trispace", sans-serif;
    background: var(--cor5);
    color: var(--cor4);
}

.conteudo-principal{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;

.titulo-principal{
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao{
  background-color: var(--cor2);
  display: flex;
  justify-content: center; 
  padding: 1em;
  font-size: 18px;
  align-items: center;
  width: 100%;
border-bottom: 4px solid var(--cor3);
border-bottom: 2px solid var(--cor3);
border-bottom: 2px solid var(--cor3);
border-top: none;

}

.botao:first-child{
  border-radius: 40px 40px 0 0 ;

}


@media screen and (min-width : 768px ) {
    .botoes{
        display: flex;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botao:last-child{
        border-radius: 0 40px 0 0;
    }
    }
    }
.aba-conteudo{
    display: none;
}
.abas-texto{
    background-color: var(--botao-inativo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}

.conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
