@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap');

:root{
    --fundo:#05668d;
    --cor1: #028090;
    --cor2: #00a896;
    --cor3: #02c39a;
    --cor4: #f0f3bd;
}


body{
    font-family: "Trispace", sans-serif;
}